<% if (title) { %>
<h1><%= title %></h1>
<%}  else {
    res.redirect('/')
} %>

<%- messages() %>

<form id="addClassificationForm" action="/inv/add-classification" method="post" novalidate>
    <label for="classification_name">Classification Name</label>
    <span>Classification name cannot contain spaces or special characters.</span>
    <input 
    type="text" 
    id="classification_name" 
    name="classification_name" 
    pattern="^[A-Za-z0-9]+$" 
    title="Classification name cannot contain spaces or special characters."
    required
    >
    <button type="submit">Add Classification</button>
</form>